@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', s ans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
} 

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

h2 {
  position: relative;
  font-size: 4em;
  font-weight: 900;
  color: #fff;
  z-index: 1;
  margin: 0;
  
}

h2 span {
  color: #ff022c;
  display: inline-block;
  
}






.text-hi{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.text-hi h4{
  position: relative;
  font-size: 2.5em;
  font-weight: 900;
  color: #fff;
  z-index: 1;
  margin: 0;
}

span.username {
  color: #ff022c;
  text-transform: uppercase;
  font-family: 'Your Desired Font', cursive; /* Replace 'Your Desired Font' with the actual font you want to use */
  /* Add any additional styles for the uppercase text here */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .text-hi {
    height: auto;
  }

  .text-hi h4 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}


/* Responsive Styles */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 3em; /* Adjust as needed for smaller screens */
  }
}









/* variables  */
:root{
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}

body{
  background: var(--text-color);
  color: var(--bg-color);
}
header{
 /* position: fixed; */
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  transition: 0.5s;
   background: #262525; 
   border-top-left-radius: 15px; /* Add round corners to the left top */
  border-top-right-radius: 15px; /* Add round corners to the right top */
   border-bottom-left-radius: 15px; /* Add round corners to the left bottom */
  border-bottom-right-radius: 15px; /* Add round corners to the right bottom */

}
header.shadow {
background: #fff;
box-shadow: 0 0 4px rgb(14 55 54/15%);
}
header.shadow .navbar a{
  color: #020307;
}
header.shadow .logo{
  color: #020307;
}


.logo{
  font-size: 1.1rem;
  font-weight: 600;
  align-items: center;
  color: var(--bg-color);
  display: flex;
  column-gap: 0.5rem;
}
.bx{
  color: var(--main-color);
}
.navbar{
  display: flex;
  column-gap: 5rem;
}
.navbar li{
  position: relative;
}
.navbar a{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.navbar a::after{
  content: '';
  width: 0;
  height: 2px;
  background: red;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after{
  width: 100%;
}
#menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}
.btn{
  padding: 0.7rem 1.4rem;
  background: var(--main-color);
  color:white;
  font-weight: Bold;
  border-radius: 0.5rem;
}
.btn:hover{
  background: #fa1216;
}







/* footer  */
.footer{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.social{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social .bx{
  background: var(--bg-color);
  padding: 2px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7,0.4);
  color: var(--main-color);
}
.social .bx:hover{
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.copyright{
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
}

/* responsive  */
@media (max-width: 1080px){
  .home-text{
      padding: 0 100px;
  }
}
@media (max-width: 991px){
  header{
      padding: 18px 4%;
  }
  section{
      padding: 50px 4%;
  }
  .home-text{
      padding: 0 4%;
  }
  .home-text h1{
      font-size: 3rem;
  }
}
@media (max-width: 774px){
  header{
      padding: 12px 4%;
  }
  #menu-icon{
      display: initial;
      color: var(--bg-color);
  }
  header.shadow #menu-icon{
      color: var(--text-color);
  }
  .navbar{
      position: absolute;
      top: -570px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: var(--bg-color);
      row-gap: 1.4rem;
      padding: 20px;
      box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
      transition: 0.2s all linear;
      text-align: center;
      width: 100%;
  }
  .navbar a{
      color: var(--text-color);
  }
  .navbar a:hover{
      color: var(--main-color);
      border-bottom: 1px solid var(--main-color);
  }
  .navbar a::after{
      display: none;
  }
  .navbar.active{
      top: 100%;
  }
  .home-text h1{
      font-size: 2.4rem;
  }
  .btn{
      padding: 0.6rem 1.2rem;
  }
  .movies-container{
      grid-template-columns: repeat(auto-fit, minmax(160px,auto));
  }
}
@media (max-width: 472px){
  .newsletter form .email{
      width: auto;
  }
  .footer{
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
  }
  .container{
      width: 100%;
      min-height: 500px;
  }
  header{
      padding: 6px 4%;
  }
  .home-text h1{
      font-size: 1.7rem;
  }
  .play{
      right: 2rem;
      bottom: 8%;
  }
  .play .bx{
      padding: 7px;
  }
  .movies-container{
      grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  }
}

.backgrounds{
background-color: #262525;
}

.container-search{
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
}

.container-search .search{
  width: 400px;
}

.container-search .rating{
  width: 200px;
}



















/*-------------------------------------------------------------------------------------*/
movies.component.css





.mat-elevation-z8 {
  margin: 20px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 10px;
  width: 200px; 
}

.mat-card {
  height: 400px; /* Adjust the height as needed */
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  margin: 10px;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-details {
  padding: 16px;
}

.movie-title h2 {
  margin: 0;
}

.movie-title .year {
  margin-top: 8px;
  color: #777;
}

.description {
  margin-top: 16px;
}

.youtube-video {
  position: relative;
  padding-bottom: 25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin-bottom: 0;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}



/*-----------------------------------------------------------------*/
#text {
  margin: 0;
  padding: 0;
  background-color: #262525;
  color: #fff;
  /*height: 2vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.animated-text {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: 600;
  min-width: 280px;
  padding: 10px; /* Adjust the padding as needed */
  margin: 10px; /* Adjust the margin as needed */
}
.animated-text span {
  position: relative;
}
.animated-text span::before {
  content: "Youtuber";
  color: rgba(235, 74, 92, 0.95);
  animation: words 20s infinite;
}
.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #262525;
  border-left: 2px solid rgba(235, 74, 92, 0.95);
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}
@keyframes words {
  0%, 20% {
    content: "allure of stories and emotions.";
  }
  21%, 40% {
    content: "vast world of cinematic adventures.";
  }
  41%, 60% {
    content: "magic within every cinematic frame.";
  }
  61%, 80% {
    content: "artistry of filmmaking and storytelling.";
  }
  81%, 100% {
    content: "diverse narratives and cinematic wonders.";
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}

/*-----------------------------------------------------------------------------*/

.container-subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*height: 20vh;*/
  /* Set your background color */
}

.subheading {
  font-size: 1.5em;
  color: #fff; /* Set your text color */
  

}

/* Media Query for responsiveness */
@media (max-width: 600px) {
  .subheading {
    font-size: 1.2em;
  }
}


